<main class="main-app-container">



  <section class="map-container">
  </section>

  <section class="start-location">
    <button mat-fab aria-label="Iniciar localización" (click)="getLocation()">
      <mat-icon>person_pin_circle</mat-icon>
    </button>
  </section>

  <section id="show-location" *ngIf="isLocated">
    <span id="location-text">
      {{lastValueLocationList.lat}}, {{lastValueLocationList.lng}}
    </span>
  </section>

  <section class="actions-location" *ngIf="isLocated">

    <div class="action-container" matRipple (click)="shareLocation()">
      <div class="action-icon">
        <mat-icon>share</mat-icon>
      </div>
      <div class="action-text">{{'share-location' | translate}}</div>
    </div>

    <div class="action-container" matRipple (click)="copyText()">
      <div class="action-icon">
        <mat-icon>content_copy</mat-icon>
      </div>
      <div class="action-text">{{'copy-location' | translate}}</div>
    </div>

    <div class="action-container" matRipple (click)="openOnGoogleMaps()">
      <div class="action-icon">
        <mat-icon>map</mat-icon>
      </div>
      <div class="action-text">{{'open-location-gmaps'|translate}}</div>
    </div>

    <div class="action-container">
      <details>
        <summary>{{'geo-info'|translate}}</summary>
        <div>
          <span>{{'lat'|translate}}: </span><span>{{locationValuesCompleteInfo.latitude}}</span>
        </div>
        <div>
          <span>{{'lng'|translate}}: </span><span>{{locationValuesCompleteInfo.longitude}}</span>
        </div>
        <div>
          <span>{{'acc'|translate}}: </span><span>{{locationValuesCompleteInfo.accuracy}}</span>
        </div>
        <div>
          <span>{{'alt'|translate}}: </span><span>{{locationValuesCompleteInfo.altitude}}</span>
        </div>
        <div>
          <span>{{'alt-acc'|translate}}: </span><span>{{locationValuesCompleteInfo.altitudeAccuracy}}</span>
        </div>
        <div>
          <span>{{'heading'|translate}}: </span><span>{{locationValuesCompleteInfo.heading}}</span>
        </div>
        <div>
          <span>{{'speed'|translate}}: </span><span>{{locationValuesCompleteInfo.speed}}</span>
        </div>
      </details>
    </div>

    <div class="action-container">
      <details>
        <summary>{{'geo-history'|translate}}</summary>
        <div *ngFor="let item of locationList;trackBy:trackByFn">
          <span>{{item.lat}},{{item.lng}}</span>
        </div>
      </details>
    </div>

  </section>



</main>
