/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  user-select: none;
  background-color: #444;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-all{
  font-weight: 500;
  font-size: 25px !important;
  letter-spacing: 1.2px;
}

.success-snackbar{
  background-color: #629e64 !important;
  color: white !important;
}

.error-snackbar{
  background-color: #a05f5a !important;
  color: white !important;
  font-weight: 700;
}

.regular-snackbar{
}
