.drawer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  width: 100%;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    color: #fff !important;
  }
}
