<mat-toolbar color="primary" id="header">
  <div><span>{{'app-title' | translate}}</span></div>
  <div>
    <mat-button-toggle-group #group="matButtonToggleGroup" (change)="changeLanguage($event)">
      <mat-button-toggle value="es" aria-label="Español" [checked]="selectedLanguage=='es'">
        <img src="assets/icons/es.svg" alt="Spain flag"/>
      </mat-button-toggle>
      <mat-button-toggle value="en" aria-label="English" [checked]="selectedLanguage=='en'">
        <img src="assets/icons/us.svg" alt="The United States Of America flag"/>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side">Drawer content</mat-drawer>
  <mat-drawer-content>

    <app-main-app></app-main-app>

  </mat-drawer-content>
</mat-drawer-container>


<mat-toolbar color="primary" id="footer">
  <span>&copy;2022</span>
  <span>
    <a href="https://github.com/EdisMR" target="_blank" rel="noopener noreferrer">@EdisMR</a>
  </span>
</mat-toolbar>
